
body
{
 	background-image:url(image/10.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
*{
	margin:0;
}

#header
{
	height:55px;
	width:100%;
  	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	background-color:black;
	
}
#header ul
{
	float:right;
	margin-top:17px;
	
}
#header ul li 
{
	display:inline;
	margin-right:20px;
}
#header ul li a
{
	color:white;
	text-decoration:none;
	font-size:20px;
	padding: 14px 16px;
}

#header ul li a:hover {
  background-color: #333;
}

#content{
	margin-top: 10px;
}
.title
{
	color:black;
	text-align:center;
	font-size:40px;
	margin-top: 0px;
	margin-right:190px;
	margin-left:190px;
	background-color:rgb(255, 255, 255);
	border-radius: 15px;
}
.para1
{
	color:white;
	text-align:justify;
	margin-top:50px;
	margin-right:40px;
	margin-left:40px;
	font-size:20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:black;
	opacity: 0.7;
	border-radius: 20px;
	
}


.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  margin: 100px 610px;
  transition-duration: 0.4s;
  cursor: pointer;
   font-family: Times New Roman;
}

.button1 {
  background-color: #90EE90; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 15px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
