<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="device-width,initial-scale=1.0">
<link rel="stylesheet" href="/static/home1_style.css">

</head>

<body>
    <div id="header">
        <ul>
            <li> <a href="/">Home</a></form></li>
            <li> <a href="/predict">Predict</a></form></li>
        </ul>
    </div>

    <div id="content">
        <h1 class="title">Machine Learning-based Depression Detection using Video Analysis</h1>
        <p class="para1">Machine Learning-based Depression Detection using Video Analysis is to
            develop an accurate, non-invasive, and cost-effective method of detecting
            depression in individuals. The traditional approach to depression diagnosis relies
            on subjective assessments by mental health professionals and self-reporting by
            patients, which can be prone to errors and biases.
            Video analysis allows for the detection of patterns and markers in an individual's
            facial expressions and other visual cues that are unique to individuals with
            depression. Machine learning algorithms can be trained on large datasets of video
            footage to identify these patterns and markers, which can then be used to predict.</p>
        <a href="predict">
        <button class="button button1">Predict</button>
        </a>

    </div>

</body>

</html>

